# Archivos compilados y objetos
*.o
*.obj
*.exe
*.out
*.app
*.dll
*.so
*.dylib

# Carpetas de compilación
build/
Build/
dist/
Nico.AppDir/

# Archivos de configuración de IDEs
.vscode/
.idea/
*.swp
*.swo

# Archivos de empaquetado temporal (ya los subiremos como Releases, no al código fuente)
*.tar.gz
*.zip
*.AppImage
*-Setup.exe

# Archivos de sistema
.DS_Store
Thumbs.db
