[Desktop Entry]
Version=1.5
Type=Application
Name=Nico IDE
Comment=Entorno de desarrollo para el lenguaje Nico v2.1.0
Exec=nico-ide %f
Icon=nico-ide
Terminal=false
Categories=Development;IDE;
MimeType=text/x-nico;
X-AppImage-Version=2.1.0
